 {{#with hotWord}}
  <div class="col-md-4 mb-15">
    <div class="set {{if highlight "highlight"}} {{if hide "invisible"}}" {{action 'hotSelect' hotWord}}>
      {{#if hotWord.flip}}
          {{hotWord.word.name}}
      {{else}}
          {{hotWord.word.meaning}}
      {{/if}}
    </div>
  </div>
   {{/with}}
